<div class="mt-4">
    <h3>cập nhật khóa học</h3>
    <div class="col-lg-6">
        {{#with data}}
        <form method="POST" action="/courses/{{this._id}}/edit?_method=PUT">
            <div class="mb-3">
                <label for="name" class="form-label">Tên khóa học</label>
                <input type="text" class="form-control" name="name" value="{{this.name}}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <textarea class="form-control" name="description"> {{this.description}}</textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Hình ảnh</label>
                <input type="text" class="form-control" name="image" value="{{this.image}}">
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Slug</label>
                <input type="text" class="form-control" name="slug" value="{{this.slug}}">
            </div>
            <div class="mb-3">
                <label for="videoId" class="form-label">Video ID</label>
                <input type="text" class="form-control" name="videoId" value="{{this.videoId}}">
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
        {{/with}}
    </div>
</div>